.form__header {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.submitBtn {
    margin-left: 50%;
    transform: translateX(-50%);
}

.form__section--lower {
    margin-bottom: 50px;
}

.module__row {
    margin-bottom: 5px;
}